<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomePage 2</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <!-- <script defer src="../static/js5.js"></script> -->
    <!-- <script defer src="JS/clientside.js"></script> -->
    <script defer src="JS/clientside2.js"></script>


</head>
<body>
<!--active nav bar-->
<nav>
    <ul>
        <li><a href="http://localhost:3000/homePage2">Home</a></li>
        <li><a href="http://localhost:3000/profile">Profile</a></li>
        <li><a href="http://localhost:3000/reviewPage">Review</a></li>
    </ul>
</nav>

<div class ="box-1">
        <!-- Hello , -->
    <h4 id="loged"> </h4>
    <p> <a href="http://localhost:3000/homePage">Sign-out</a> </p>
    <p> <a href="http://localhost:3000/deleteUser">Delete account</a> </p>

</div>

<div class ="box-2">
    <button onclick=location.href="http://localhost:3000/reviewPage" type="button">Write a review</button>
</div>

</div>

<header>
    <h1><img src="pics/logo1.png" alt="logo" class="logo"> </h1>
</header>
<section>
    <br>
    <br>
    Filter by Movie Genres:
    <input type="radio" name="genre" class="field2" value="action"> action
    <input type="radio" name="genre" class="field2" value="adventure"> adventure
    <input type="radio" name="genre" class="field2" value="comedy"> comedy
    <input type="radio" name="genre" class="field2" value="drama"> drama
    <input type="radio" name="genre" class="field2" value="fantasy"> fantasy
    <input type="radio" name="genre" class="field2" value="horror"> horror
    <input type="radio" name="genre" class="field2" value="musicals"> musicals
    <input type="radio" name="genre" class="field2" value="mystery"> mystery
    <input type="radio" name="genre" class="field2" value="romance"> romance
    <input type="radio" name="genre" class="field2" value="science fiction"> science fiction
    <input type="radio" name="genre" class="field2" value="thriller"> thriller
    <br>
    <br>

    <input id="searchbar" onkeyup="search_movie()" type="text"
           name="search" placeholder="Search movie..">

    <!-- ordered list // the function "addmovietolist" insert the movies from database to the list -->
    <ol id='list'>
    </ol>

</section>
<section>
    <div class="container">
        <div class="image"><a href="http://localhost:3000/moviePage"><img src="pics/Ticket_to_Paradise.jpg" style="width: 200px;" alt="MovieImage"></div>
        <div class="image"><a href="http://localhost:3000/moviePage"><img src="pics/Smile.jpg" style="width: 220px;" alt="MovieImage"></div>
        <div class="image"><a href="http://localhost:3000/moviePage"><img src="pics/Black_Panther_Wakanda_Forever.jpg" style="width: 220px;" alt="MovieImage"></div>
        <div class="image"><a href="http://localhost:3000/moviePage"><img src="pics/Black_Adam_(film)_poster.jpg" style="width: 220px;" alt="MovieImage"></div>
    </div>

</section>
<footer></footer>

</body>
</html>
