<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>movie page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
</head>
<body>
<header class="main">
</header>
<button onclick=location.href="http://localhost:3000/homePage" type="button"> Home Page</button>

<div class="container">
    <div class="review-box">
        <div class="left"></div>
        <div class="right">
            <div class="info">
                Movie name: Ticket to Paradise
                <br>Actors: Julia Roberts, George Clooney
                <br>Director: Ol Parker
                <br>Length: 104 minutes
                <br>Place: USA
                <br>Year: 2022
                <br>Genres: Comedy, Romance
            </div>
            <!-- <br> -->
            <!-- <ticketbtn onclick=location.href="https://www.cinema-city.co.il/" type="button">Book tickets</ticketbtn> -->
            <!-- <br> -->
            <br>
            <h2>Reviews</h2>
            <h3>20 reviews</h3>
            <br>
            <div class="item"><p>  A romantic, funny movie with great actors </p>
                <p> Rating: 4/5</p>
                <p><a href="http://localhost:3000/profile">David Cohen</a>| 2 reviews | Age: 23 | 10/11/22 15:32 </p>
            </div>
            <br>
            <div class="item">
                <p>A story about love, marriage, divorce and everything in between. </p>
                <p> Rating: 3/5</p>
                <p> Dana Zak| 19 reviews | Age: 35 | 08/11/22 22:19 </p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>