<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <script defer src="JS/clientside4.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>User Profile</title>
</head>
<body>
<section>
    <br>
    <!--active nav bar-->
<nav>
    <ul>
        <li><a href="http://localhost:3000/homePage">Home</a></li>
        <li><a href="http://localhost:3000/profile">Profile</a></li>
        <li><a href="http://localhost:3000/reviewPage">Review</a></li>
    </ul>
</nav>

    <div class="container">
        <div class="user-box">

            <h2>   David Cohen | Personal Profile  </h2>
            <h3> 2 Reviews </h3>
            <img src="pics/boylogo.png" alt="profilephoto" class="profilephoto">
        </div>
</section>

<br>
<br>
<br>
<br>
<nav>
    <div class="to-follow col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <button id="follow" class="btn btn-default btn-block" data-toggle="button">+ Follow</button>
        <button id="unfollow" class=" hidden btn btn-danger btn-block hidden"> Following </button>
    </div>
</nav>
<section>
    <br>
    <br>
            <h4>Find movie by the average rating <br> according to the users' reviews</h4>
        <form action="/findMovie" method="get">
            <label for="SearchRate"> <h5>Enter average rating: </h5> </label>
            <br>
            <input type="text" name="SearchRate" id="SearchRate" required>
            <input type="submit" class="submit" value="SEARCH">
        </form>
        <section>
            <h4><br> My Reviews</h4>
    <div class="card-container">
        <div class="flip-card"> 
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="pics/Ticket_to_Paradise.jpg" alt="Avatar" style="width:280px;height:330px;">
                </div>
                <div class="flip-card-back">
                    <br>
                    <h1> Ticket to Paradise </h1>
                    <br>
                    <br> A romantic, funny movie with great actors </br>
                        <br> Rating: 4/5
                </div>
            </div>
        </div>
        <br>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="pics/Dont_Worry_Darling.jpg" alt="MovieReview" style="width:285px;height:335px;">
                </div>
                <div class="flip-card-back">
                    <br>
                    <h1> Don't Worry Darling </h1>
                    <br>
                    <br> Nice movie, a bit boring </br>
                        <br> Rating: 2/5
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</section>
</body>
</html>