<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <script defer src="../static/js3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>User Profile</title>
</head>
<body>
<section>
    <br>
    <button onclick=location.href="project_landingpage2.html" type="button"> Home Page</button>

    <div class="container">
        <div class="user-box">

            <h2>   David Cohen | Personal Profile  </h2>
            <h3> 2 Reviews </h3>
            <!--</div>-->
            <img src="../static/pics/boylogo.png" alt="profilephoto" class="profilephoto">
        </div>
</section>

<br>
<br>
<br>
<br>
<nav>
    <div class="to-follow col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <button id="follow" class="btn btn-default btn-block" data-toggle="button">+ Follow</button>
        <button id="unfollow" class=" hidden btn btn-danger btn-block hidden"> Following </button>
    </div>
</nav>
<section>
    <div class="card-container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../static/pics/Ticket_to_Paradise.jpg" alt="Avatar" style="width:280px;height:330px;">
                </div>
                <div class="flip-card-back">
                    <br>
                    <h1> Ticket to Paradise </h1>
                    <br>
                    <br> A romantic, funny movie with great actors </br>
                        <br> Rating: 4/5
                </div>
            </div>
        </div>
        <br>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../static/pics/Dont_Worry_Darling.jpg" alt="MovieReview" style="width:285px;height:335px;">
                </div>
                <div class="flip-card-back">
                    <br>
                    <h1> Don't Worry Darling </h1>
                    <br>
                    <br> Nice movie, a bit boring </br>
                        <br> Rating: 2/5
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>