<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign_in</title>
</head>
<link rel="stylesheet" href="../static/style1.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
<script defer src="../static/js1.js"></script>
<body>
<br>
<button onclick=location.href="project_landingpage1.html" type="button"> Home Page</button>
<div class="imgcontainer">
    <img src="../static/pics/logo1.png" alt="logo" class="logo">
</div>
<header>
    <h1> Criticize any Movie you want and help others </h1>
</header>
<section class="containerAttributes">
    <form class="block" id="my-form">
        <div class="msg"></div>
        <br>Username:</br>
        <input type="text" name="" placeholder="Enter Username" id="username" >
        <br>Password:</br>
        <input type="password" name="" placeholder="Enter Password" id="password" >
        <br>
        <br>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <br>
        <button type="submit">Sign-in</button>
        <br>
        <br> not a memeber yet ?
        <button onclick=location.href="project_register.html" type="button"> register</button>
    </form>
</section>
</body>
</html>