<!DOCTYPE html>
<html lang="heb">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
</head>
<link rel="stylesheet" href="../static/style1.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
<script defer src="../static/js2.js"></script>
<body>
<br>
<button onclick=location.href="project_landingpage1.html" type="button">Home Page</button>

<div class="imgcontainer">
    <img src="../static/pics/logo1.png" alt="logo" class="logo">
</div>
<section class="containerAttributes">
    <form class="block" id="my-form1" >
        <div class="msg"></div>
        name: <input title="name must be in English with no special characters" pattern="[a-zA-Z ]+" type="text" name="" placeholder="Enter name" id="name" >
        <div class="msgName"></div>
        <br>
        family name: <input title="family name must be in English with no special characters" pattern="[a-zA-Z ]+" type="text" name="" placeholder="Enter name" id="fname" >
        <div class="msgFname"></div>
        <br>
        username: <input title="username must be in English can include special characters" pattern="[0-9a-zA-Z ]+" type="text" name="" placeholder="Enter Username" id="username"  >
        <div class="msgUname"></div>
        <br>
        email: <input type="email" name="" placeholder="Enter email" id="email" >
        <div class="msgMail"></div>
        <br>
        password: <input title="password can include special characters" pattern="[!@#$%^&*()_+-=[]{};':\/?]*$0-9a-zA-Z ]+"type="password" name="" placeholder="Enter Password" id="psw"  >
        <div class="msgpsw"></div>
        <br>
        birthday: <input type="date" name="" id="bd">
        <br>
        favorite genre     <select>
        <option value="choose">chose genre</option>
        <option value="action">action</option>
        <option value="adventure">adventure</option>
        <option value="comedy">comedy</option>
        <option value="drama">drama</option>
        <option value="fantasy">fantasy</option>
        <option value="horror">horror</option>
        <option value="musicals">musicals</option>
        <option value="mystery">mystery</option>
        <option value="romance">romance</option>
        <option value="science fiction">science fiction</option>
        <option value="thriller">thriller</option>
    </select>
        <br>
        <br>
        <button type="submit">Register</button>
        <br>
    </form>
</section>

<ul class="registered"> </ul>

</body>

</html>