*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5vh;
    color: white;
}

header {
    text-align: center;
}

body {
    background: linear-gradient(180deg, #B40421, black);
    width: 100%;
    text-align: right;
}

section {
    text-align: center;
    background-color: transparent;
}

.box-1{
    color: white;
    text-align: start;
}

.box-2{
    color: white;
    text-align: end;
}

a {
    font-family: bold;
    font-family: 'Quicksand', sans-serif;
    color: blue;
    padding: 10px;
    margin-top: 20px;
}
a:visited {
    color: #333333;}
a:active {
    color: lightgray;}
a:hover {
    color: red;}

nav {
    text-align: center;
}

/*the design of the movie's images*/
.image {
    border: 10px white solid;
    height: 300px;
    color: white;
    background-color: white;
    margin: 10px;
    display: table;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    border-radius: 10%;
    transition: .3s ease;
}

.image:hover{
    border: 10px black solid;
    background-color: black;
    height: 320px;
    box-sizing: revert;
    cursor: pointer;
    border-radius: 10%;
}

/* Button used to open the popup form*/
.open-button {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: center;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    text-align: center;
    max-width: 100%;
    padding: 10px;
    background-color: black;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    flex-wrap: wrap;
    text-align: center;
    background: linear-gradient(180deg, transparent, black);
}

.review-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #fff;
}

.left{
    height: 100%;
    /* background-image: url(../pics/Ticket_to_Paradise.jpg); */
    background-image: url(../pics/Ticket_to_Paradise.jpg);
    /* background: url("static/pics/Ticket_to_Paradise.jpg") no-repeat center; */
    background-size: cover;
}

.left1{
    height: 100%;
    /* background: url(movie-popcorn.jpg) no-repeat center; */
    background-image: url(../pics/movie-popcorn3.jpg);
    background-size: cover;
}
.right{
    padding: 25px 40px;
}
.info{
    color: black;
}
h1 {
    /*text-align: center;*/
    font-size: 2em;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 1.8em;
}
h3 {
    color: black;
}
/*the review txt area*/
.fieldarea{
    min-height: 100px;
    max-height: 200px;
    min-width: 300px;
    max-width: 400px;
    color: black;
}
.sendbtn{
    width: 100px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #B40421;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}
.sendbtn:hover{
    background-color: red;
}
/*every review in the review-box*/
.item {
    background-color: black;
    padding: 5px;
}

/* Set a style for all buttons */
button {
    background-color: white;
    opacity: 0.8;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 1;
}
ticketbtn {
    background-color: #B40421;
    opacity: 0.8;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 15%;
}
ticketbtn:hover {
    opacity: 1;
}
/*style of error message*/
.error {
    background-color: lightgray;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
/*style of success message*/
.success {
    background-color: greenyellow;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
#searchbar{
    background-image: url(../pics/search1.png);
    background-repeat: no-repeat;
    padding:15px;
    border-radius: 10px;
}
input[type=text],  input[type=password], input[type=email], input[type=date] {
    text-align: center;
    width: 15%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    opacity: 0.8;
    box-sizing: border-box;
    color: black;
}

/*style for select field*/
select {
    color: black;
    text-align: center;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    opacity: 0.8;
    box-sizing: border-box;
}
option {
    color: black;
}
/*in the review page*/
#movie{
    width: 50%;
}

/*style list of movies in the searchbar*/
#list{
    font-size:  1em;
    margin-left: 590px;
    list-style-type: none;
    border-radius: 10px;
    overflow: hidden;
    width: 30%;
}

/*in the searchbar in homepage*/
.movies {
    background-color: white;
    padding: 1rem;
    border-bottom: 1px solid #cccccc;
    transition: all 0.3s;
    display: none;
    color: black;

}
.movies:hover {
    background: #333333;
    color: white;
    cursor: pointer;
}
/*navbar style*/
li{
    display: inline-block;
}

li a{
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    border: 1px solid #fff;
    transition: .3s ease;

}

li a:hover{
    background-color: #fff;
    color: #000;
}

.active {
    background-color: white;
}

/*rating stars style*/
.rating {
    display: flex;
    padding: 0;
    margin: 0;
}
.rating li {
    list-style-type: none;
}
.rating-item {
    border: 1px solid white;
    cursor: pointer;
    font-size: 2em;
    color: orange;
}
/*initial:make all full*/
.rating-item.active::before {
    content: "\2605";
}
/*on hover make all full */
.rating-item::before {
    content: "\2605";
}
/* make until the clicked star (the rest) empty*/
.rating-item:hover ~ .rating-item::before {
    content: "\2606";
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.logo {
    width: 30%;
    border-radius: 50%;
    animation: animatelogo 2s;
}

@keyframes animatelogo {
    0%    { opacity: 0; }
    20%   { opacity: 0.6; }
    80%   { opacity: 0.8; }
    100%  { opacity: 1; }
}
.submit {
    color: black;
    text-align: center;
    padding: 8px 16px;
    border: 2px;
    border-radius: 10%;
    opacity: 0.8;
    margin: 10px;
    cursor: pointer;

}
.submit:hover {
    opacity: 1;
}



.profilephoto {
    width: 20%;
    border-radius: 50%;
}
/* containers of attributes style */
.containerAttributes {
    padding: 16px;
    text-align: center;
}
.user-box {
    max-width: 800px;
    width: 600px;
    height: 100px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    margin: 20px 100px 0 100px;
    padding: 10px;
    opacity: 0.9;
    border-radius: 10px;
}
/*flip-card animation*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
    margin: 20px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
    border: 10px white solid;
}
.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    border: 10px white solid;
}
.card-container {
    width: 800px;
    margin: 50px;
    justify-content: center;
    display: flex;
}
/*follow/unfollow button style*/
.hidden {
    display: none;
}
#follow {
    /*background: green;*/
    border-radius: 10px;
}
#unfollow {
    border-radius: 10px;
    background-color: #2EB82E;
    width: 20% ;
    transition: all 0.3s ease-in;
}

label { 
    width: 190px;
    display: inline-block;
    text-align: left;
    color: grey;
    font-size: 1.2em;


}


